<<<<<<< HEAD

  body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
  }
=======
body {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}
>>>>>>> 5c68a278acbabd781b72eeb9ac23c04a10359c94
